*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

body{
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    background: #fff;
}

.navbar{
    height: 100px;
    background-color: white;
    color: #333333;
    display: flex;
}

.nav-logo{
    height: 100px;
    width: 200px;
}

.logo{   
    background-image: url("pictures/organic_store_logo.jpeg");
    height: 100px;
    width: 100%;
    background-size: cover;
    scale: 0.70;
}

.nav-items{
    margin-top: 42px;
    font-size: 1rem;
    padding-left: 20px;
    padding-right: 20px; 
    font-style: inherit;
    font-weight: inherit;
}

.nav-item1 a:link, .nav-item2 a:link, .nav-item3 a:link, .nav-item4 a:link, .nav-item5 a:link, .nav-item8 a:link{
    text-decoration: none; 
    color: #333333;
}

.nav-item1 a:visited, .nav-item2 a:visited, .nav-item3 a:visited, .nav-item4 a:visited, .nav-item5 a:visited, .nav-item8 a:visited{
    text-decoration: none; 
    color: #333333;
}

.nav-item1 a:hover, .nav-item2 a:hover, .nav-item3 a:hover, .nav-item4 a:hover, .nav-item5 a:hover{
    color: #8bc34a;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
    transition-property: all;
}

.cartcolor{
    color: #8bc34a;
}

.nav-item4{
    padding-left: 420px;
}

.nav-item7{
    padding-left: 0px;
}

.nav-item8{
    padding-left: 10px;
}

.fa-basket-shopping{
    color: #8bc34a;
}

/* Hero Section */

.hero-section{
    margin-top: 5px;
    height: 700px;
    background-color: #f8f6f392;
    color: #333333;
    display: flex;
}

.hero-section-image{
    height: auto;
    width: 52%;
}

.hero-image{
    background-image: url("pictures/organic-products-hero.png");
    height: 80%;
    width: 100%;
    margin-top: 100px;
    margin-left: 8px;
    background-size: cover;
    scale: 0.92;
}

.hero-text{
    height: auto;
    width: 35%;
    margin-top: 178px; 
    margin-left: 63px;
}

.hero-sub-image{
    background-image: url("pictures/logo-leaf-new.png");
    height: 32px;
    width: 72px;
    margin-bottom: 40px;
}

.hero-heading{
    font-family: Merriweather, serif;
    font-size: 1.05rem;
    margin-bottom: 20px;
}

.hero-subheading{
    font-family: Merriweather, serif;
    font-size: 3.25rem;
    color: #111111;
    margin-bottom: 25px;
}

.hero-content{
    font-family: 'Open Sans',sans-serif;
    font-size: 0.95rem;
    line-height: 25.6px;
    margin-bottom: 30px;
}

.hero-btn{
    background-color: #508810cf;
    font-size: 14px;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    padding-top: 17px;
    padding-bottom:17px;
    padding-left: 34px;
    padding-right: 34px;
    border: none;
    text-align: center;
}

.hero-button :hover{
    background-color:#8bc34a;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
    transition-property: all;
}

.fa-cart-shopping{
    margin-right: 15px;
}

/* Site Properties */

.site-properties{
    height: 215px;
    background-color: #111111;
}

.site-property-items{
    margin: 35px;
    height: 100%;
    display: grid;
    gap: 20px;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
}

.grid-box{
    height: 128px;
    padding: 35px 25px;
    background-color: #333333;
    border-radius: 3px;
    color: #ffffff;
    display: grid;
    /* justify-content: center; */
    align-items: center;
}

.grid-box a{
    text-decoration-line: none;
    color: #ffffff;
}

.grid-box a i{
    font-size: 24px;
    color: #8bc34a;
}

.grid-box b{
    font-family: Merriweather, serif;
    font-size: 20px;
    padding-left: 10px;
}

.grid-box p{
    font-size: 16px;
    font-family: 'Open Sans',sans-serif;
    padding-left: 40px;
}

/* Best Selling Products Section */

.best-selling-products-section{
    height: 700px;
    text-align: center;
    margin-top: 140px;
    position: relative;
}

.bsp-heading{
    font-size: 34px;
    font-family: Merriweather, serif;
    margin-bottom: 18px;
    color: #111111;
}

.bsp-img{
    margin-bottom: 35px;
}

.products-container{
    margin: 25px;
    height: 400px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
}

.products-container h4{
    font-size: 16px;
    color: #111111;
    font-family: Merriweather, serif;
    padding-bottom: 4px;
}

.bsp-product{
    height: 285px;
    width: 285px;
    padding-bottom: 13px;
}

.bsp-type{
    font-size: 13.6px;
    font-family: 'Open Sans',sans-serif;
    color:#333333;
    padding-bottom: 9px;
}

.bsp-star-rating{
    font-size: 18.712px;
    color: #111111;
    padding-bottom: 1px;
}

.bsp-product4 span{
    color: #333333a9;
    padding-right: 6px;
    font-family: 'Open Sans',sans-serif;
}

.bsp-price{
    font-size: 14.4px;
    font-family: 'Open Sans',sans-serif;
    color: #111111;
    font-weight: 800;
}

.bsp-bottom-img{
    position: absolute;
    width: 90px;
    bottom: 0;
    right: 45%;
}

