*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

body{
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    background: #fff;
}

.navbar{
    height: 100px;
    background-color: white;
    color: #333333;
    display: flex;
}

.nav-logo{
    height: 100px;
    width: 200px;
}

.logo{   
    background-image: url("pictures/organic_store_logo.jpeg");
    height: 100px;
    width: 100%;
    background-size: cover;
    scale: 0.70;
}

.nav-items{
    margin-top: 42px;
    font-size: 1rem;
    padding-left: 20px;
    padding-right: 20px; 
    font-style: inherit;
    font-weight: inherit;
}

.nav-item1 a:link, .nav-item2 a:link, .nav-item3 a:link, .nav-item4 a:link, .nav-item5 a:link, .nav-item8 a:link{
    text-decoration: none; 
    color: #333333;
}

.nav-item1 a:visited, .nav-item2 a:visited, .nav-item3 a:visited, .nav-item4 a:visited, .nav-item5 a:visited, .nav-item8 a:visited{
    text-decoration: none; 
    color: #333333;
}

.nav-item1 a:hover, .nav-item2 a:hover, .nav-item3 a:hover, .nav-item4 a:hover, .nav-item5 a:hover{
    color: #8bc34a;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    transition-delay: 0s;
    transition-property: all;
}

.cartcolor{
    color: #8bc34a;
}

.nav-item4{
    padding-left: 420px;
}

.nav-item7{
    padding-left: 0px;
}

.nav-item8{
    padding-left: 10px;
}

.fa-basket-shopping{
    color: #8bc34a;
}

/* Hero Section */

.hero-section{
    margin-top: 5px;
    height: 700px;
    background-color: #f8f6f392;
    color: #333333;
    display: flex;
}

.hero-section-image{
    height: auto;
    width: 52%;
}

.hero-image{
    background-image: url("pictures/organic-products-hero.png");
    height: 80%;
    width: 100%;
    margin-top: 100px;
    margin-left: 8px;
    background-size: cover;
    scale: 0.92;
}

.hero-text{
    height: auto;
    width: 35%;
    margin-top: 178px; 
    margin-left: 63px;
}

.hero-sub-image{
    background-image: url("pictures/logo-leaf-new.png");
    height: 32px;
    width: 72px;
    margin-bottom: 40px;
}

.hero-heading{
    font-family: Merriweather, serif;
    font-size: 1.05rem;
    margin-bottom: 20px;
}

.hero-subheading{
    font-family: Merriweather, serif;
    font-size: 3.25rem;
    color: #111111;
    margin-bottom: 25px;
}

.hero-content{
    font-family: 'Open Sans',sans-serif;
    font-size: 0.95rem;
    line-height: 25.6px;
    margin-bottom: 30px;
}

.hero-btn{
    background-color: #508810e1;
    font-size: 14px;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    padding-top: 17px;
    padding-bottom:17px;
    padding-left: 34px;
    padding-right: 34px;
    border: none;
    text-align: center;
    /* transition: all 0.3s linear; */
}

.hero-button :hover{
    background-color:#8bc34a;
}

.fa-cart-shopping{
    margin-right: 15px;
}

/* Site Properties */

.site-properties{
    height: 215px;
    background-color: #111111;
}

.site-property-items{
    margin: 35px;
    height: 100%;
    display: grid;
    gap: 20px;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
}

.grid-box{
    height: 128px;
    padding: 35px 25px;
    background-color: #333333;
    border-radius: 3px;
    color: #ffffff;
    display: grid;
    /* justify-content: center; */
    align-items: center;
}

.grid-box a{
    text-decoration-line: none;
    color: #ffffff;
}

.grid-box a i{
    font-size: 24px;
    color: #8bc34a;
}

.grid-box b{
    font-family: Merriweather, serif;
    font-size: 20px;
    padding-left: 10px;
}

.grid-box p{
    font-size: 16px;
    font-family: 'Open Sans',sans-serif;
    padding-left: 40px;
}

/* Best Selling Products Section */

.best-selling-products-section{
    height: 650px;
    text-align: center;
    margin-top: 140px;
    position: relative;
}

.bsp-heading{
    font-size: 34px;
    font-family: Merriweather, serif;
    margin-bottom: 18px;
    color: #111111;
}

.bsp-img{
    margin-bottom: 35px;
}

.products-container{
    margin: 25px;
    height: 400px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
}

.products-container h4{
    font-size: 16px;
    color: #111111;
    font-family: Merriweather, serif;
    padding-bottom: 4px;
}

.bsp-product{
    height: 285px;
    width: 285px;
    padding-bottom: 13px;
    user-select: none;
}

.bsp-type{
    font-size: 13.6px;
    font-family: 'Open Sans',sans-serif;
    color:#333333;
    padding-bottom: 9px;
}

.bsp-star-rating{
    font-size: 18.712px;
    color: #111111;
    padding-bottom: 1px;
}

.bsp-product4 span{
    color: #333333a9;
    padding-right: 6px;
    font-family: 'Open Sans',sans-serif;
}

.bsp-price{
    font-size: 14.4px;
    font-family: 'Open Sans',sans-serif;
    color: #111111;
    font-weight: 800;
}

.bsp-bottom-img{
    position: absolute;
    width: 90px;
    bottom: -95px;
    right: 46%;
    z-index: 1;
    scale: 0.8;
}

/* middle-section */

.middle-section{
    height: 600px;
    background-color: #F8F6F3;
    position: relative;
}

.ms-prods{
    height: 400px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 40px;
    letter-spacing: 1.01px;
}

.ms-prod1{
    height: 370px;
    background-color: white;
    position: relative;
    padding: 40px;
    margin-top: 115px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(176, 180, 183, 0.17);
    justify-content: center;
}

.ms-prod{
    font-size: 24px;
    font-family: Merriweather, serif;
    text-align: left;
    padding-top: 4px;
    padding-bottom: 8px;
}

.ms-img1{
    position: absolute;
    bottom: -10px;
    right: 0px;
    width: 70%;
    scale: 0.9;
    user-select: none;
}

.ms-img2{
    position: absolute;
    bottom: 20px;
    right: 15px;
    width: 70%;
    scale: 1.1;
    user-select: none;
}

.ms-img3{
    position: absolute;
    width: 70%;
    bottom: 0px;
    right: 0px;
    scale: 0.7;
    user-select: none;
}

.ms-btn{
    position: absolute;
}

.ms-desc{
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    text-align: left;
    color: #333333;
    padding-bottom: 25px;
    letter-spacing: normal;
}

.fa-arrow-right{
    padding-left: 10px;
}

.banner-section{
    height: 160px;
    background-color: #111111;
}

.banner-section-content-container{
    margin: 0 auto;
    height: 100%;
    width: 95%;
    display: flex;
    align-items: center;
}

.banner-section-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* padding: 64px 32px; */
}

.banner-section-content h4{
    font-size: 34px;
    font-family: Merriweather, serif;
    color: #ffffff;
    line-height: 44px;
}

.banner-section-outer{
    height: 100px;
    background-color: #F8F6F3;
}

.banner-section-outer-container{
    width: 600px;
    height: 100%;
    margin: 0 auto;
}

.banner-section-outer-container h4{
    font-size: 24px;
    line-height: 36px;
    font-family: Merriweather, serif;
    color: #111111;
    display: flex;
    justify-content: center;
}

.trending-products{
    margin-top: 100px;
}

.customer-reviews-section{
    margin-top: 30px;
    height: 580px;
    width: 100%;
    background-color: #FEFEFD;
    /* position: relative; */
    text-align: center;
}

.customer-reviews-content{
    display: flex;
    height: 450px;
    width: 90%;
    margin: 0 auto;
    position: relative;
    gap: 3%;
}

.cust-rev-box1{
    height: 420px;
    width: 32%;
    border-radius: 5px;
}

.cust-rev-box3{
    height: 420px;
    width: 32%;
    border-radius: 5px;
}

.cust-rev-box2{
    height: 400px;
    width: 32%;
    position: relative;
    box-shadow: 0px 0px 10px 0px rgba(40, 40, 40, 0.1);
    border-radius: 5px;
    text-align: center;
}

.cust-back-img{
    position: absolute;
    filter: brightness(40%);
}

.cust-rev-box1-content{
    height: 400px;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px 0px rgba(40, 40, 40, 0.1);
    border-radius: 5px;
    padding: 50px;
}

.cust-rev-box3-content{
    height: 400px;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px 0px rgba(40, 40, 40, 0.1);
    border-radius: 5px;
    padding: 50px;
}

.cust-mid-content{
    position: absolute;
    padding: 40px;
}

.cust-mid-content h2{
    color: #ffffff;
    font-size: 34px;
    line-height: 44.2px;
    font-family: Merriweather, serif;
    padding-bottom: 15px;
}

.cust-mid-content p{
    color: #ffffff;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    padding-bottom: 65px;
}

.stars{
    padding-top: 15px;
    padding-bottom: 20px;
}

.cust-des{
    padding-bottom: 20px;
}

.img-text{
    display: flex;
    justify-content: center;
}

.img-text p{
    padding-left: 15px;
    padding-top: 15px;
}

.cust-rev-btn{
    margin-left: 52px;
}

.featured-brands{
    height: 160px;
    width: 100%;
    background-color: #F8F7F4;
    
}

.featured-brands-content{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.featured-brands-logo{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.fb-para{
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
    padding: 35px;
    color: #333333;
    line-height: 30px;
    text-align: left;
    font-style: bold;
    font-weight: 700;
}

/* footer section */

.footer{
    height: 765px;
    width: 100%;
    background-color: #001524;
}

.footer-top{
    height: 635px;
    width: auto;
}

.footer-top-container{
    height: 100%;
    width: auto;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.5fr 0.25fr 0.25fr;
    padding-top: 75px;
    padding-bottom: 75px;
}

.footer-box1-content{
    display: flex;
    flex-direction: column;
    margin-left: 32px;
}

.footer-box1-content p {
    max-width: 500px;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    line-height: 25.6px;
    text-align: left;
    color: hsla(0, 0%, 100%, 0.702);
    letter-spacing: 0.5px;
}

.footer-img{
    height: 80px;
    width: 180px;
    margin-bottom: 46px;
}

.footer-box2{
    display: flex;
    flex-direction: column;
}

.footer-box2 h4{
    font-size: 22px;
    line-height: 33px;
    text-align: left;
    color: #ffffff;
    font-family: Merriweather, serif;
    letter-spacing: 0.5px;
}

.footer-box3 h4{
    font-size: 22px;
    line-height: 33px;
    text-align: left;
    color: #ffffff;
    font-family: Merriweather, serif;
    /* letter-spacing: 0.5px; */
}

.footer-box2 a{
    text-decoration: none;
}

.footer-box3 a{
    text-decoration: none;
}

.footer-box3{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin-right: 32px;
}

.footer-box2-content-top{
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
}

.footer-box2-content-top h4{
    margin-bottom: 45px;
}

.footer-box2-content-bottom{
    display: flex;
    flex-direction: column;
}

.footer-box2-content-bottom h4{
    margin-bottom: 18px;
}

.footer-box2 a{
    max-width: 160px;
    color: hsla(0, 0%, 100%, 0.702);
    padding-bottom: 4px;
}

.footer-box3-content-top h4{
    margin-bottom: 15px;
}

.footer-box3-content-top p{
    color: hsla(0, 0%, 100%, 0.702);
    margin-bottom: 45px;
    line-height: 25.6px;
}

.footer-links p:hover{
    color: #ffffff;
    transition: all 0.2s;
}

.footer-box3-content-bottom{
    display: flex;
    flex-direction: column;
    margin-bottom: 23px;
}

.footer-box3-content-bottom a{
    color: #8bc34a;
    padding: 2px;
}

.footer-box3-content-bottom a:hover{
    color: #6a9739;
    transition: all 0.2s;
}

.footer-box3-content-bottom h4{
    margin-bottom: 17px;
}

.footer-box3-icon{
    display: flex;
    gap: 20px;
}

.footer-box3-icon img{
    height: 38px;
    width: 118px;
    border: 1px solid white;
}

.footer-bottom-content{
    margin-top: 26px;
    margin-left: 32px;
    margin-right: 32px;
    display: flex;
    justify-content: space-between;
}

.footer-bottom-icons{
    font-size: 16px;
    display: flex;
    gap: 25px;
    color: hsla(0, 0%, 100%, 0.702);
}

.copyright-text{
    color: hsla(0, 0%, 100%, 0.702);
    line-height: 25.6px;
    font-size: 16px;
    font-family: 'Open Sans',sans-serif;
}

.foot-social:hover{
    color: #8bc34a;
}